.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .navbar .search-form.active {
    transform: scaleY(1);
  }
  
  .navbar .search-form a {
    cursor: pointer;
    padding: 1rem;
    color: var(--bg);
  }
  
  .navbar .search-form a:hover {
    color: var(--primary);
  }
  
  .navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    padding: 1rem;
  }
  
  .navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
  }
  /* Highlight search results */
.highlight {
    background-color: yellow;
  }
  