:root {
  --primary: #30b5fb;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #0c192e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 0 0 20px 20px; /* Membulatkan bagian bawah */
}

.navbar img {
  width: 300px;
  height: auto;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form a {
  cursor: pointer;
  padding: 1rem;
  color: var(--bg);
}

.navbar .search-form a:hover {
  color: var(--primary);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Responsive navbar search form */
@media (max-width: 768px) {
  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }
}

/* Highlight search results */
.highlight {
  background-color: yellow;
}

/* Video container */
.video-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 100px auto 0;
  padding: 10px;
  border-bottom: 1px solid #0c192e;
}

#bumperVideo {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#muteUnmuteButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#muteUnmuteButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Adjust video-container margin-top on mobile */
@media (max-width: 768px) {
  .video-container {
    margin-top: 120px;
  }
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Responsive video container */
@media (max-width: 1280px) {
  .video-container {
    padding: 5px;
  }
}

@media (max-width: 800px) {
  .video-container {
    padding: 2px;
  }

  video {
    max-height: 360px;
  }
}

/* Section styles */
.about,
.menu,
.products,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries untuk layar dengan lebar maksimal 900px */
@media (max-width: 900px) {
  /* Tampilkan tombol hamburger dan sembunyikan navbar link */
  #hamburger-menu {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar .navbar-nav {
    display: none;
  }

  /* Ketika tombol hamburger diklik, tampilkan menu */
  .navbar .navbar-nav.active {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .navbar .navbar-nav a {
    color: white;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
  }

  .navbar .navbar-nav a:hover {
    background-color: var(--primary);
    color: var(--bg);
  }

  /* Ubah ukuran ikon hamburger */
  #hamburger-menu i {
    font-size: 2rem;
    color: white;
  }
}

/* Ukuran tombol hamburger di layar lebih kecil (max 500px) */
@media (max-width: 500px) {
  #hamburger-menu {
    font-size: 1.8rem;
  }

  .navbar .navbar-nav a {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}
